Resources:
  AWSEBAutoScalingLaunchConfiguration:
    Type: AWS::AutoScaling::LaunchTemplate
    Properties:
      LaunchTemplateId: lt-07573acec870aca47
      LaunchTemplateName: "AIintegration"
      Version: "1"

  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      AutoScalingGroupName: "AWSEB-flask-app-ASG"
      MinSize: "1"
      MaxSize: "4"
      DesiredCapacity: "1"
      VPCZoneIdentifier:
        - "subnet-0448066839293dbc6"
        - "subnet-0ffb52767fe080e11"
        - "subnet-060facc1b1f5a523c"
      LaunchTemplate:
        LaunchTemplateId: lt-07573acec870aca47
        Version: "1"

option_settings:
  aws:ec2:vpc:
    VPCId: "vpc-07a8fe33fbe1050b6"
    Subnets: "subnet-0448066839293dbc6,subnet-0ffb52767fe080e11,subnet-060facc1b1f5a523c"
